{{#extend "base"}}
    {{#content "title"}}
        <title>Фотоквесты</title>
    {{/content}}

    {{#content "styles"}}
        <link rel="stylesheet" href="/index.css">
    {{/content}}

    {{#content "main"}}
        <div id="listOfQuests" class="main-content">
            {{#each quests}}
                {{> quest/quest}}
            {{/each}}
        </div>
    {{/content}}

    {{#content "scripts"}}
        <script src="/index.js"></script>
    {{/content}}
{{/extend}}
