<header class="page-header">

    <div class="header-limiter">

        <h1><a href="/">ФотоКвесты by <span>Team4</span></a></h1>

        <form method="get" action="#">
            <input type="search" placeholder="Поиск квеста!" name="search">
            <button type="submit" class="search-btn"><span class="glyphicon glyphicon-search"></span></button>
        </form>

        <ul>
            {{#if commonData.user}}
                <li><a href="/create-quest">Создать квест</a></li>
                <li><a id="logout" href="#">Выход</a></li>
            {{else}}
                <li><a class="" href="/auth">Вход</a></li>
                <li><a class="header-links-a" href="/reg">Регистрация</a></li>
            {{/if}}
        </ul>

    </div>

</header>
