.shower.list .slide
{
    opacity: 1
}

.shower.list .badge
{
    opacity: 1;
}

.badge
{
    opacity: 0;
}

.slide
{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.slide.active
{
    opacity: 1;
}

.slide.active::after
{
    color: #000;
}

.slide li.next
{
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.slide li.next.active
{
    opacity: 1;
}

.slide.start
{
    background: #000;
}

.slide.start::after,
.slide.start.active ~ .progress
{
    display: none;
}

.slide.cover img
{
    width: 100%;
}

.slide.cover h2
{
    padding: 30px;
    color: #000;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    font-size: 80px;
    font-weight: bold;
}

.slide.cover div p
{
    float: right;
    padding: 5px;
    width: 40%;
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}

.slide .cover
{
    height: 100%;
}

.slide.mac
{
    padding: 0;
}

.slide .mac
{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    background: url("pictures/mac.png") no-repeat center;
    background-size: 100% 100%;
}

.slide .mac .site-img
{
    position: relative;
    top: 62px;
    left: 22px;
    height: 62%;
    width: 93%;
}

.slide.see-more h2
{
    font-size: 100px
}

.slide.see-more img
{
    height: 75px;
}
