.panel.main > .panel-body
{
    display: none;
}

.panel.main > .panel-heading:hover
{
    cursor: pointer;
}

body .main-content .panel
{
    width: 80%;
}

#username
{
    text-align: center;
    width: 90%;
    margin: 10px auto;
    font-size: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quest .btn-default
{
    background-color: #a8cc77;
    background-image: none;
    text-shadow: none;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.col-xs-6
{
    margin: 10px 0;
}

.quest-img
{
    height: 150px;
    width: 150px;
    overflow: hidden;
    border: 1px solid grey;
}

img
{
    min-width: 150px;
    max-width: 200px;
    min-height: 150px;
    max-width: 200px;
}

h3
{
    overflow: hidden;
    text-overflow: ellipsis;
}

.box
{
    padding-top: 3px !important;
}

p
{
    font-size: 30px;
}

@media screen and (max-device-width: 568px)
{
    body .main-content .panel
    {
        width: 100%;
    }
}
