.place
{
    width: 80%;
    margin: auto;
}

.place-title
{
    text-align: center;
    width: 50%;
    margin: 10px auto;
    font-size: 50px;
}

@media screen and (max-device-width: 568px)
{
    .place
    {
        width: 100%;
        margin: 10px 0;
    }
    .row
    {
        margin: 10px 0;
    }
    .thumbnail
    {
        padding-left: 0;
        padding-right: 0;
    }
    .thumbnail .caption
    {
        padding: 0;
    }
}
